<div>
    <header></header>
</div>

    <div>
        <div class="subscribe">
            <form>
                <input type="text" ng-model="searchInput" required>
                <button type="submit" ng-click="search()" >Search</button>
            </form>
        </div>
    </div>

    <div>
        <span ng-hide="searched == 0" style="display: block;"><h3>Результаты поиска:</h3></span>
        <most-popular-movies ng-repeat="movie in searched"></most-popular-movies>
    </div>

    <div class="home-container">
            <a ng-href="#!/popular">
                <div class="movies">
                    <h2 class="title">Movies</h2>
                </div>
            </a>
            <a href="#!/popular-tv">
                <div class="serials">
                    <h2 class="title">Serials</h2>
                </div>
            </a>
    </div>

    <div>
        <footer></footer>
    </div>