<div>
    <div>
        <header></header>
    </div>

    <div>
        <div class="subscribe">
            <form action="" method="post">
                <input type="text">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="home-container">
            <a ng-href="#!/popular">
                <div class="movies">
                    <h2 class="title">Movies</h2>
                </div>
            </a>
            <a href="">
                <div class="serials">
                    <h2 class="title">Serials</h2>
                </div>
            </a>
    </div>

    <div>
        <footer></footer>
    </div>
</div>