<div>
    <div>
        <header></header>
    </div>

    <div class="divCenter">
        <most-popular-movies ng-repeat="movie in movies"></most-popular-movies>
    </div>

    <nav aria-label="..." style="width: 50%; margin: 10px auto;">
        <ul class="pager">
            <li class="previous"><a ng-click="countminus()" ng-hide="counter == 1"><span aria-hidden="true">&larr;</span>Prev</a></li>
            <li class="next"><a ng-click="countplus()">Next<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <div>
        <footer></footer>
    </div>
</div>