<div>
    <div>
        <header></header>
    </div>

    <div>
        <div class="subscribe">
            <form action="" method="post">
                <input type="text">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <div class="divCenter">
        <most-popular-tv ng-repeat="serial in serials"></most-popular-tv>

    </div>

    <nav aria-label="..." style="width: 50%; margin: 10px auto;">
        <ul class="pager">
            <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Prev</a></li>
            <li class="next"><a href="#">Next<span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>

    <!--<div class="btn-group">-->
        <!--<button type="button" class="btn btn-default">Left</button>-->
        <!--<button type="button" class="btn btn-default">Right</button>-->
    <!--</div>-->

    <!--<ul class="pagination">-->
        <!--<li><a href="#">&laquo;</a></li>-->
        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
        <!--<li><a class="disabled" href="#">...</a></li>-->
        <!--<li><a href="#">{{pages.total_pages}}</a></li>-->
        <!--<li><a href="#">&raquo;</a></li>-->
    <!--</ul>-->

    <!--<div>-->
    <!--<footer></footer>-->
    <!--</div>-->
</div>